<tr>
  <td><%= link_to "图片1", carousel.first.url %></td>
  <td><%= link_to "图片2", carousel.second.url %></td>
  <td><%= link_to "图片3", carousel.third.url %></td>
  <td><%= link_to t(:edit), edit_carousel_path(carousel) %></td>
</tr>
